name: Build & Publish WUD

on:
  push:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Node.js (for building UI)
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      # Install UI dependencies
      - name: Install UI dependencies
        run: npm ci
        working-directory: ui

      # Build the UI
      - name: Build UI
        run: npm run build
        working-directory: ui

      # Login to Docker Hub using your secrets
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set short SHA
        id: vars
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            dundiditnow/wud:dev-${{ env.SHORT_SHA }}

